*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white,rgb(201, 140, 209),lavender);
    min-height: 100vh;
}

.container{
    background-color: #ffffff;
    width: 350px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: inset 2px 2px 10px white,
                      3px 3px 15px black;
}

.container h2{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.header{
    height: 180px;
    align-items: center;
    position: relative;
    justify-content: center;
}

.header img{
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 26%;
}


.amount p{
    font-size: 17px;
    font-weight: 530;
}
.amount input{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 9px;
    border: 1px solid #83828296;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow: inset 1px 1px 10px white,
                      1px 1px 7px #727171a9;
}


.dropdown-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.from,.to{
    margin-top: 10px;
    margin-bottom: 15px;
}
.select-list{
    display: flex;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: 2px solid #83828296;
    border-radius: 9px;
    box-shadow: inset 1px 1px 10px white,
                      1px 1px 7px #727171a9;
}

.select-list select{
    border: none;
    width: auto;
    font-size: 13px;
    cursor: pointer;

}

.select-list select::-webkit-scrollbar{
    width: 5px;
}

.select-list select::-webkit-scrollbar-track{
    background:#ffffff ;
}

.select-list select::-webkit-scrollbar-thumb{
    background:#686569d5;
    border-radius: 4px;
    border-right: 1px solid #ffffff;
}

.select-list img{
    max-width: 30px;
    margin-right: 5px;
}

.exchange-rate{
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

.converter-app button{
    height: 45px;
    width: 100%;
    margin-top: 25px;
    border: 2px solid #ab72ccd7;
    border-radius: 9px;
    box-shadow: inset 0px 0px 0px white,
                      2px 2px 10px #5a5a5aa9;
    font-size: 18px;
    background-color: rgb(184, 118, 228);
    color: white;
    cursor: pointer;
}